@import '../styles/vars';

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 4rem auto 6rem;
}

.indexContainer {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 2rem auto 6rem auto;
}

header.navBar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;

  a,
  a:link,
  a:visited,
  a:active {
    color: $white;
    text-decoration: none;
    text-shadow: 2px 2px 0px #000;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;

        &.logo {
          margin-right: auto;

          h1 {
            font-family: $header-font;
            font-size: 1rem;
            color: $white;
            font-weight: 700;
            height: 25px;

            background-image: url('/images/profile.png');
            background-size: contain;
            background-position: 0;
            background-repeat: no-repeat;
            padding-left: 41px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-hd) {
  // code
}

@media (max-width: $screen-tablet) {
  header.navBar {
    padding-bottom: 1em;
    nav {
      ul {
        padding: 0;
        flex-wrap: wrap;
        justify-content: left;
        li {
          flex-shrink: 0;
          &.logo {
            width: 100%;
            display: block;
            margin: 0;
          }
        }
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/bg/site-bg-1.jpg');
  background-position: center;
  background-size: cover;
  padding: 3em 0 4em 0;
  height: 70vh;

  a,
  a:link,
  a:visited,
  a:active {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-family: $header-font;
    font-size: 3em;
    color: $white;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    width: 100%;
    text-align: left;
    margin-top: 8rem;
    text-shadow: 2px 2px 0px #000;

    span {
      font-family: $body-font;
      font-size: 1.5rem;
      letter-spacing: normal;
      text-transform: none;
      display: block;
    }

    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  h2 {
    font-family: $body-font;
    font-size: 2em;
    color: $blue;
    font-weight: 700;
    text-transform: capitalize;
    background-color: $black;
    padding: 0em 1em;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: $screen-mobile) {
  .hero {
    h1 {
      padding: 0.5em 0em;
      text-align: center;
    }
  }
}

.backToHome {
  margin: 3rem 0 0;
  font-size: 0.8em;

  a,
  a:link,
  a:visited,
  a:active {
    background-color: $purple;
    color: $black;
    padding: 1em;
    font-weight: 700;
  }

  a:hover {
    background-color: $black;
    color: $purple;
    text-decoration: none;
  }
}

h2.indexHeader {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}
