@import '../styles/vars';

.musicCardHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a,
  a:link,
  a:visited,
  a:active {
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .musicCard {
    box-sizing: border-box;
    width: 48%;
    font-size: 1rem;
    margin: 0 auto 2em auto;
    padding: 1em;
    min-height: 250px;

    text-align: left;

    background-size: cover;
    background-position: center;

    cursor: pointer;

    h1,
    h2 {
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 1.4em;
      font-weight: normal;
      background: rgba(0, 0, 0, 0.2);
      padding: 0 0.2em;
    }

    h2 {
      font-size: 1em;
      text-align: left;
      background: rgba(0, 0, 0, 0.2);
      padding: 0 0.2em;
      color: $white;
    }

    &:hover {
      h1,
      h2 {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

@media (max-width: $screen-hd) {
  .musicCardHolder {
    .musicCard {
      width: 48%;
    }
  }
}

@media (max-width: $screen-tablet) {
  //code
}

@media (max-width: $screen-mobile) {
  .musicCardHolder {
    .musicCard {
      width: 100%;
    }
  }
}
