@import '../../styles/vars';

.albumInformation {
  display: flex;
  padding: 2em 1em;
  margin-top: 2em;

  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;

  article {
    width: 50%;
    font-size: 0.8rem;

    &:first-of-type {
      padding-right: 1em;
    }

    strong {
      color: $green;
    }

    ul {
      padding: 0;

      li {
        color: $green;
        list-style-type: none;
      }
    }
  }
}

@media (max-width: $screen-mobile) {
  .albumInformation {
    flex-wrap: wrap;
    article {
      width: 100%;

      &:first-of-type {
        padding-right: 0em;
      }
    }
  }
}
