@import 'vars';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $body-font;
  line-height: 1.6;
  font-size: 1em;
  background-color: $black;
  color: $white;
}

h1 {
  font-family: $header-font;
  font-size: 3em;
  color: $white;
  font-weight: 700;
  text-shadow: 2px 2px 0px #000;

  span {
    font-family: $body-font;
    font-size: 1.5rem;
    letter-spacing: normal;
    text-transform: none;
    display: block;
  }
}

h2 {
  font-family: $body-font;
  font-size: 2em;
  color: $blue;
  font-weight: 700;
  text-transform: capitalize;
  background-color: $black;
  padding: 0em 1em;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 0px #000;
}

p {
  font-size: 1em;
}

strong,
em {
  color: $blue;
}

* {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:active {
  color: $purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

blockquote {
  font-family: $body-font;
  font-size: 1.2em;
  color: $green;
  font-weight: 700;
  text-transform: capitalize;
  background-color: $black;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  text-shadow: 2px 2px 0px #000;

  a:link,
  a:visited,
  a:active {
    font-size: 0.8em;
  }
}

footer {
  text-align: center;
}

/* Global AlbumInformation / ScInformation Classes */

.scInformation {
  display: flex;
  padding: 2em 1em;
  margin-top: 2em;

  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;

  article {
    width: 50%;
    font-size: 0.8rem;

    &:first-of-type {
      padding-right: 1em;
    }

    color: $green;

    strong {
      color: $green;
    }

    ul {
      padding: 0;

      li {
        color: $green;
        list-style-type: none;
      }
    }
  }
}

@media (max-width: $screen-mobile) {
  .scInformation {
    flex-wrap: wrap;
    article {
      width: 100%;
      margin-bottom: 2em;
      &:first-of-type {
        padding-right: 0em;
      }
    }
  }
}
