$body-font: 'Inconsolata', 'Courier New', Helvetica, Arial, sans-serif !important;
$header-font: 'Montserrat', sans-serif;

$black: #272822;
$white: #f8f8f2;
$green: #a6e22e;
$red: #f92672;
$purple: #ae81ff;
$blue: #52d9ef;

$screen-hd: 1440px;
$screen-tablet: 1024px;
$screen-mobile: 680px;
